body {
  background: white;
  color: white;
}


.prev-next-button{
  padding: 0;
  border: none;
  background: none;
}

.thumb-container {
  background: rgb(235, 235, 235);
  border-radius: 100%;
  margin: 0 4px;
  display: block;
}

.tumb-icon {
  width: 8px;
  height: 8px;
  overflow: hidden;
  transition: background 300ms ease 0s;
  opacity: 0;
}

.thumb-active {
  background: rgb(20, 20, 20);
  opacity: 1;
}

.carousel-buttons {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5%;
}

.cars-corousel-container > div {
  overflow: hidden;
}

.use-spring-carousel-thumbs-wrapper {
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .carousel-buttons {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .thumbs-icon-container {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .thumbs-icon-container {
    display: none;
  }
}